//* ---------------------------------- */
//*              VARIABLES             */
//* ---------------------------------- */

// Colors

$primary-color: #272727;
$secondary-color: #ff652f;
$hover-color: blue;
$text-color: white;

// Fonts

$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// Path

$pathname1: "../assets/model-1.jpg";
