.header {
  text-align: center;
  font-size: 24px;
}

span {
  font-style: italic;
}

.container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(112, 85, 49);
}

img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

img:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}
